# vscode settings
.vscode/

# claude settings
.claude/

# python cache
__pycache__/

# ruff cache
.ruff_cache

# pytest cache
.pytest_cache/

# session files
.nexus/
.nexus-v2/

# other files
backup/
AI_News_2026-05-04.md

.tmp/

# .agents
.agents/